.RData
*.RData
.Rhistory
.Rproj.user
.Rproj.user/*

app/git_exclude/

app/data/owid_cache.csv
data/timer.log
/app/data/timer.log
*/timer.log
owid_cache.csv
jh_cache.csv
.DS_Store
timer.log
rsconnect/

*/.DS_Store
.httr-oauth
infection_rate/data/*

*/rsconnect/*

READI-SCRUB/
READI-SCRUB/*

.httr-oauth*