.RData
*.RData
.Rhistory
.Rproj.user
.Rproj.user/*

data/*
app/data/owid_cache.csv
owid_cache.csv
.DS_Store
rsconnect/

*/.DS_Store
.httr-oauth
infection_rate/data/*

*/rsconnect/*

READI-SCRUB/
READI-SCRUB/*

.httr-oauth*