
Enquiries about the NZ Safe Border Project and the calculations in this web app are welcome using the contacts below.
<br />
<table>
  <tr>
    <td>Operational enquiries</td>
    <td>Dan Cheshire </td>
    <td><a href='mailto:dan.cheshire@aucklandairport.co.nz'>dan.cheshire@aucklandairport.co.nz</a></td>
  </tr>
  <tr>
    <td>Modeling and technical enquiries</td>
    <td>Dr. Ben Smith</td>
    <td><a href='hello@striatum.co.nz'>hello@striatum.co.nz</a></td>
  </tr>
  <tr>
    <td>Scientific and epidemiological enquiries</td>
    <td>Dr. Simon Thornley</td>
    <td><a href='s.thornley@auckland.ac.nz'>s.thornley@auckland.ac.nz</a></td>
  </tr>
</table>
