<ul>
  <li>Location: Country, state, territory, or other subnational group. The list will show only those locations meeting the traveller threshold set at the top of the page. Data is sourced from Johns Hopkins University, state and national health authorities, and Statistics New Zealand; see Method & Approach for more details.</li>
  <li>Population: Location total population (approx. 2016)</li>
  <li>Cases confirmed 14-21 days ago (daily average): 
  Daily average cases confirmed over the period from 21 to 14 days prior to the currently selected date 
  (as shown on the top right of the page). 
  This value is used to estimate the Infection Detection Rate (see Method & Approach tab).
  </li>
  <li>
    Deaths last 7 days (daily average): Daily average fatalities over the last 7 days
     prior to the currently selected date 
  (as shown on the top right of the page). 
  This is used to estimate the Infection Detection Rate (see Method & Approach tab).
  </li>
  <li>Infection detection rate: Estimated true number of infections for every case reported. This cannot be below 1, 
  but is often higher where an unusually high number of fatalities are being reported.
  </li>
  <li>Active cases: Currently active Covid-19 cases.
  We gather daily new cases from Johns Hopkins University. For selected low-prevalence locations, these are replaced by the currently active cases
  as recorded on local ministries of health. This is because the Johns Hopkins data does not distinguish between local and imported cases.
  Distinguishing between them is important for understanding location prevalence in the community.
  The "Proposed System" tab provides an option for disabling this adjustment and using Johns Hopkins data only.
  <br />
  Then:<br />
  (1) We calculate total reported cases minus fatalities and recoveries.<br />
  (2) We calculate total reported cases over the last three weeks.
  <br />
  We use the <em>lower</em> of these. Usually, (1) is lower, and it is more accurate. In some cases, (e.g., New South Wales), recoveries are not recorded properly.
  To maintain an accurate count, we use the second definition where that is lower.
  </li>
  <li>
    Est. active infections: The estimated number of active infections in the population, taking into account the officially reported active cases and the infection detection rate.
  </li>
  <li>
    Prevalence (invections / mil): Estimated true infections divided by the population size. (If the applicable option is selected on the Proposed intervention tab, this column reflects the prevalence of covid-19 in the community, with cases from external sources outside the country/location and held in that locations's own managed isolation/quarantine manually excluded from the data used to calculate the prevalence rating)
  </li>
  <li>
    Prevalence rating: This is marked "unknown" when the location's health system reliability is not considered trustworthy. Otherwise, it can be Covid-free, indicating zero active cases, or other levels up to Level 4. Thresholds are determined on the "Proposed System" page.
    (If the applicable option is selected on the Proposed intervention tab, this column reflects the prevalence of covid-19 in the community, with cases from external sources outside the country/location and held in that locations's own managed isolation/quarantine manually excluded from the data used to calculate the prevalence rating)
  </li>
  <li>
    Projected prevalence in 14 days (infections/mil):
    Prevalence value used to assigned the Outlook Rating.
    This value is a projection only. 
    It is nearly impossible to actually determine the prevalence of cases in the future because trends always respond to change in local behaviour.
    Nevertheless, we can project the direction of change (increase or decrease) better than chance 
    by observing the current trend in the number of new cases and projecting into the future.
    (This data is based on prevalence information drawn from all active cases, without distinguishing between active and local cases. Thus, for any locations where most or all cases are in MIQ, the outlook is likely to estimate a higher incoming prevalence level than is really applicable)
  </li>
    <li>
    Outlook rating: To provide an 'early warning', recent trends in daily confirmed cases are projected two weeks into the future using a simple linear model. 
    Then the prevalence over the next two weeks is calculated based on this projection. 
    In locations where we've adjusted active cases to exclude imported cases, this may display an inappropriately pessimistic rating.
    The Outlook rating may be used to identify Level 1, 2, and 3 locations where the outbreak appears to be worsening and which may slip into a higher prevalence level in the next two weeks.
    (This data is based on prevalence information drawn from all active cases, without distinguishing between active and local cases. Thus, for any locations where most or all cases are in MIQ, the outlook is likely to estimate a higher incoming prevalence level than is really applicable)
  </li>
  <li>
    Life expectancy: used to assign data reliability.
  </li>
  <li>Data reliability: This is a rating of the reliability of a country's health system reporting. 
  The data is likely to be unreliable if significant numbers of Covid-19 fatalities are not officially recorded.
  We use life expectancy as a proxy for health system reliability; if the life expectancy in a country is 70 or higher, the health system is considered robust and the data reliability is rated trustworthy.
  Otherwise the data is related untrustworthy. Further refinement may be required.
  </li>
  <li>
    2019 Monthly arrivals: This specifies the monthly arrivals in the corresponding month in 2019. This will correspond to the calendar month of the currently selected date as shown on the top right of the app.
  </li>
  <li>
    Est. arrivals per month (based on 2019): 
    Estimated arrivals per month, after any interventions have been assigned, assuming a fraction of 2019 travel. This can be adjusted by varying the proportion of expected travellers from each risk level on the "Proposed System" tab.
  </li>
    <li>
    Expected number of cases entering the traveller journey: This displays the expected number of cases that <em>enter the traveller journey</em>. This means cases that (1) arrive at new Zealand's border, or (2) if a pre-departure PCR test is held, the number of cases screened out by that test plus the remaining cases that arrive in New Zealand.
  </li>
<!--  <li>
    Assigned intervention: This is the change proposed for travellers from that location.
    If no intervention is assigned then the proposal is to continue with the current system for that location, except, possibly, to introduce a pre-departure PCR test.
    A change is only considered if data from the location is considered trustworthy,
    and if the location has at least 2,000 travellers travelling to New Zealand in the relevant month for 2019.
    If a location meets these criteria than an intervention is assigned based on the prevalence thresholds specified in the "Proposed System" tab.
  </li>-->

  <li>
    Expected cases exiting MIQ per month: 
    This is the estimated number of cases exiting MIQ into the community even after applicable MIQ measures have been taken.
    This is an average only, and the true number in any given month could be more or less.
    It considers the prevalence in the location, 
    the volume of travel from that location likely following the application of an intervention (which can be specified on the "Proposed System tab"),
    and the effectiveness of the selected traveller journey (Open, 1-, 5-, or 14-day MIQ).
    It is likely to be under-estimated in countries with an "untrustworthy" data reliability rating.
  </li>
  
  
</ul>