h1{
  margin-right: auto; margin-left: auto; text-align: center;
}

h2{
  margin-right: auto; margin-left: auto; text-align: center;
}

/*.header{
  
}*/

.subheader{
  margin-right: auto; margin-left: auto; text-align: center;
  color: #008cba;
}

#effective_date{
  text-align:right;
  margin-right:auto;
  margin-bottom:1em;
}

div[data-value="Summary"]{
  text-align:center;
}
div[data-value="Summary"] button{
  margin-top:2em;
  margin-bottom:2em;
}

.navbar {
  display:flex;
  align-items: center;
  flex-direction:column;
  margin:auto;
}

div.author_list{
  column-count: 2;
  margin-top:2em;
}

div.author_profile{
  font-weight: bold;
  overflow: hidden;

}

div.author_profile div{
    text-align: left;
    vertical-align: middle;
    margin-top: 1.5em;
}

div.author_profile img{
  border-radius:50%;
  width: 100px;
  border: solid 2px white;
  float:left;
  margin-right: 50px;
}
/*
.col-sm-8 {
  float:none;
}*/


#methapp_mainPanel{
  margin: 0 auto;
    width: 70%;
    float: none;
}

#methapp_mainPanel div.leaflet{
  margin-bottom: 1em;
}

div.col-sm-8 div.shiny-input-container{
  width:auto;
}

div.contactus table{
  font-size: inherit;
}

div.contactus td{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:1em;
  padding-right:1em;
  
}