h1{
  margin-right: auto; margin-left: auto; text-align: center;
}

h2{
  margin-right: auto; margin-left: auto; text-align: center;
}

/*.header{
  
}*/

.subheader{
  margin-right: auto; margin-left: auto; text-align: center;
  color: #008cba;
}

#effective_date{
  text-align:right;
  margin-right:auto;
  margin-bottom:1em;
}

div[data-value="Summary"]{
  text-align:center;
}
div[data-value="Summary"] button{
  margin-top:2em;
  margin-bottom:2em;
}

.navbar {
  display:flex;
  align-items: center;
  flex-direction:column;
  margin:auto;
}

/*
.col-sm-8 {
  float:none;
}*/