The rate of covid-19 positive travellers entering New Zealand was conservatively calculated from the
    product of the prevalence of active covid-19 infection and projected monthly rate of arrivals.
    This monthly rate was then reduced by including a five tiered border policy and quarantine and test
    system which is applied to travellers based on their country of origin. These tiers had varying
    requirements for RT-PCR tests and duration of quarantine, with longer periods for travellers from
    higher prevalence countries, since spacing out PCR tests is likely to improve the overall sensitivity of
    covid-19 detection. <br />
    The proportion of cases detected was estimated to vary between 70 and 95%
    depending on the length of quarantine. No quarantine or testing is mandated for ‘covid-free’
    countries, whereas one, five and fourteen day quarantines are suggested for travellers from countries
    with increasing prevalence of covid-19. Pre-departure covid-19 tests are also suggested for travellers
    from all but covid-free countries.<br />
    
    A real-time web app has been developed to estimate the rate of entry of undetected infection posed
    by these suggested selective border policies, and compare this to current rates. The app is flexible
    enough to assess the risk posed if important assumptions or parameters are altered.<br />
    
    To read more detail about the app and its design, please see the academic paper currently under review. This will be made publicly available in due course.
    <br />
    <br />