New Zealand’s current border policy limits travel to returning New Zealand citizens and residents, 
with two weeks’ quarantine for all travellers who enter the country. 
We developed a
        model to explore the effect of selective border opening to travellers from countries with a low
        prevalence of covid-19 on the rate of undetected cases exiting MIQ into the community.
        This number could be reduced by introducing RT-PCR testing for covid-19 on either side of the
        border, increasing infection control at the border, and by varying times of MIQ on arrival to
        New Zealand. The length of MIQ is proposed to be commensurate with the prevalence in the
        traveller’s country.
        
        <br />
        <br />