<div class="author_list"> 

<div class="author_profile">
  <img src="author-photos/morris.png">
  <div>
Dr. Arthur Morris, MD<br />
Clinical Microbiologist
</div>
</div>

<div class="author_profile">
<img src="author-photos/thornley.png">
<div>
Dr. Simon Thornley, PhD, MBChB, MPH(hons)<br />
Senior Lecturer, Epidemiology and Biostatistics, University of Auckland
</div>
</div>

<div class="author_profile">
  <img src="author-photos/johnston.jpg" >
  <div>
Dr. Ben Johnston, MBChB<br />
Chief Medical Officer, Air New Zealand
</div>
</div>


<div class="author_profile">
<img src="author-photos/child.jpg">
<div>
Dr. Stephen Child, MD<br />
General Physician, Auckland District Health Board
</div>
</div>


<div class="author_profile">
  <img src="author-photos/smith.jpg">
  <div>
Dr. Ben Smith, PhD<br />
Data Scientist Consultant, Striatum Data Science</div>
</div>



</div>
